# Clase 11: Trabajo con texto, fechas y categorías

**MDS7202: Laboratorio de Programación Científica para Ciencia de Datos**

## Objetivos


- Profundizar el uso de los multi-índices de pandas.
- Reorganizar los datos usando `melt`.
- Comprender el cómo manipular y analizar de manera eficiente texto, fechas y categorías y efectiva t con Pandas.

In [1]:
import pandas as pd

dataset_original = pd.read_csv("../../recursos/2023-02/pandas-3/bli_original.csv", keep_default_na=False)

### Multi-Índices

Hasta el momento solo hemos trabajado con `Dataframes` que contienen solo un nivel de filas o columnas. Sin embargo, es posible también agregar más niveles a los indices y a las columnas. 
Esto se le conoce como multi-índice.

In [2]:
dataset_original.loc[:, 
                     ["Continent", 
                      "Country", 
                      "Indicator", 
                      "Unit", 
                      "Value"]].head()

  Continent         Country                 Indicator        Unit  Value
0        OC       Australia  Labour market insecurity  Percentage    5.4
1        EU         Austria  Labour market insecurity  Percentage    3.5
2        EU         Belgium  Labour market insecurity  Percentage    3.7
3        NA          Canada  Labour market insecurity  Percentage    6.0
4        EU  Czech Republic  Labour market insecurity  Percentage    3.1

Para agregar niveles de columnas, en el proceso de pivoteo vamos a indicar que tanto `Unit` como `Indicator` sean niveles de las columnas; y que a la vez, tanto `Continent` como `Country` sean indices para las filas. 

El resultado de esto puede ser visto en el siguiente `DataFrame`:

In [3]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

In [4]:
dataset_multindex = pd.pivot_table(
    dataset_original,
    index=["Continent", "Country"],
    columns=["Unit", "Indicator"],
    values="Value",
)
dataset_multindex

Unit                          Average score  \
Indicator                 Life satisfaction
Continent Country
AF        South Africa             4.700000
AS        Israel                   7.225000
          Japan                    5.900000
          Korea                    5.866667
EU        Austria                  7.225000
          Belgium                  7.000000
          Czech Republic           6.700000
          Denmark                  7.650000
          Estonia                  5.780000
          Finland                  7.660000
          France                   6.540000
          Germany                  7.100000
          Greece                   5.340000
          Hungary                  5.680000
          Iceland                  7.580000
          Ireland                  7.050000
          Italy                    6.140000
          Latvia                   5.940000
          Lithuania                5.980000
          Luxembourg               6.900000
          Netherlands              7.500000
          Norway                   7.620000
          Poland                   6.100000
          Portugal                 5.480000
          Russia                   5.880000
          Slovak Republic          6.425000
          Slovenia                 5.933333
          Spain                    6.225000
          Sweden                   7.400000
          Switzerland              7.500000
          Turkey                   5.520000
          United Kingdom           6.860000
NA        Canada                   7.425000
          Mexico                   6.466667
          United States            7.000000
OC        Australia                7.350000
          New Zealand              7.300000
OECD      OECD - Total             6.480000
SA        Brazil                   6.400000
          Chile                    6.480000
          Colombia                 6.266667

Unit                                                                         \
Indicator                 Stakeholder engagement for developing regulations
Continent Country
AF        South Africa                                                  NaN
AS        Israel                                                        2.5
          Japan                                                         1.4
          Korea                                                         2.9
EU        Austria                                                       1.3
          Belgium                                                       2.0
          Czech Republic                                                1.6
          Denmark                                                       2.0
          Estonia                                                       2.7
          Finland                                                       2.2
          France                                                        2.1
          Germany                                                       1.8
          Greece                                                        1.8
          Hungary                                                       1.2
          Iceland                                                       2.1
          Ireland                                                       1.3
          Italy                                                         2.5
          Latvia                                                        2.2
          Lithuania                                                     2.4
          Luxembourg                                                    1.7
          Netherlands                                                   2.6
          Norway                                                        2.2
          Poland                                                        2.6
          Portugal                                                      1.5
          Russia                                                        NaN
          Slovak Republic                                               3.0
          Slovenia                                                      2.5
          Spain                                                         1.8
          Sweden                                                        2.0
          Switzerland                                                   2.3
          Turkey                                                        1.5
          United Kingdom                                                3.1
NA        Canada                                                        2.9
          Mexico                                                        3.2
          United States                                                 3.1
OC        Australia                                                     2.7
          New Zealand                                                   2.5
OECD      OECD - Total                                                  2.4
SA        Brazil                                                        2.2
          Chile                                                         1.3
          Colombia                                                      1.4

Unit                                      \
Indicator                 Student skills
Continent Country
AF        South Africa               NaN
AS        Israel                   470.0
          Japan                    528.8
          Korea                    520.0
EU        Austria                  492.8
          Belgium                  503.8
          Czech Republic           492.2
          Denmark                  505.2
          Estonia                  525.8
          Finland                  523.6
          France                   497.4
          Germany                  511.0
          Greece                   460.2
          Hungary                  475.0
          Iceland                  480.8
          Ireland                  509.8
          Italy                    485.0
          Latvia                   487.6
          Lithuania                476.6
          Luxembourg               485.4
          Netherlands              509.6
          Norway                   504.8
          Poland                   505.4
          Portugal                 499.4
          Russia                   491.8
          Slovak Republic          463.4
          Slovenia                 510.4
          Spain                    492.4
          Sweden                   497.0
          Switzerland              507.4
          Turkey                   426.8
          United Kingdom           502.4
NA        Canada                   523.2
          Mexico                   416.0
          United States            489.4
OC        Australia                411.2
          New Zealand              506.2
OECD      OECD - Total             490.4
SA        Brazil                   398.2
          Chile                    443.8
          Colombia                 412.8

Unit                                                          Hours  \
Indicator                 Time devoted to leisure and personal care
Continent Country
AF        South Africa                                    14.770000
AS        Israel                                                NaN
          Japan                                                 NaN
          Korea                                           14.583333
EU        Austria                                         14.530000
          Belgium                                         15.663333
          Czech Republic                                        NaN
          Denmark                                         15.873333
          Estonia                                         14.886667
          Finland                                         15.163333
          France                                          16.336667
          Germany                                         15.613333
          Greece                                                NaN
          Hungary                                               NaN
          Iceland                                               NaN
          Ireland                                               NaN
          Italy                                           16.313333
          Latvia                                          13.826667
          Lithuania                                             NaN
          Luxembourg                                            NaN
          Netherlands                                           NaN
          Norway                                          15.563333
          Poland                                          14.390000
          Portugal                                              NaN
          Russia                                                NaN
          Slovak Republic                                       NaN
          Slovenia                                        14.730000
          Spain                                           15.860000
          Sweden                                          15.176667
          Switzerland                                           NaN
          Turkey                                          14.653333
          United Kingdom                                  14.916667
NA        Canada                                          14.553333
          Mexico                                                NaN
          United States                                   14.440000
OC        Australia                                       14.350000
          New Zealand                                     14.883333
OECD      OECD - Total                                    14.896667
SA        Brazil                                                NaN
          Chile                                                 NaN
          Colombia                                              NaN

Unit                      Micrograms per cubic metre  \
Indicator                              Air pollution
Continent Country
AF        South Africa                          22.0
AS        Israel                                21.0
          Japan                                 14.0
          Korea                                 28.0
EU        Austria                               16.0
          Belgium                               15.0
          Czech Republic                        20.0
          Denmark                                9.0
          Estonia                                8.0
          Finland                                6.0
          France                                13.0
          Germany                               14.0
          Greece                                18.0
          Hungary                               19.0
          Iceland                                3.0
          Ireland                                7.0
          Italy                                 18.0
          Latvia                                11.0
          Lithuania                             14.0
          Luxembourg                            12.0
          Netherlands                           14.0
          Norway                                 5.0
          Poland                                22.0
          Portugal                              10.0
          Russia                                15.0
          Slovak Republic                       21.0
          Slovenia                              16.0
          Spain                                 11.0
          Sweden                                 6.0
          Switzerland                           15.0
          Turkey                                20.0
          United Kingdom                        11.0
NA        Canada                                 7.0
          Mexico                                16.0
          United States                         10.0
OC        Australia                              5.0
          New Zealand                            5.0
OECD      OECD - Total                          14.0
SA        Brazil                                10.0
          Chile                                 16.0
          Colombia                              10.0

Unit                                              Percentage  \
Indicator                 Dwellings without basic facilities
Continent Country
AF        South Africa                                  37.0
AS        Israel                                         NaN
          Japan                                          6.4
          Korea                                          2.5
EU        Austria                                        0.9
          Belgium                                        1.9
          Czech Republic                                 0.7
          Denmark                                        0.5
          Estonia                                        7.0
          Finland                                        0.5
          France                                         0.5
          Germany                                        0.2
          Greece                                         0.5
          Hungary                                        4.7
          Iceland                                        0.0
          Ireland                                        1.0
          Italy                                          0.7
          Latvia                                        13.9
          Lithuania                                     13.6
          Luxembourg                                     0.5
          Netherlands                                    0.1
          Norway                                         0.0
          Poland                                         3.0
          Portugal                                       1.0
          Russia                                        14.8
          Slovak Republic                                1.2
          Slovenia                                       0.4
          Spain                                          0.1
          Sweden                                         0.0
          Switzerland                                    0.1
          Turkey                                         8.0
          United Kingdom                                 0.3
NA        Canada                                         0.2
          Mexico                                        25.5
          United States                                  0.1
OC        Australia                                      NaN
          New Zealand                                    NaN
OECD      OECD - Total                                   4.4
SA        Brazil                                         6.7
          Chile                                          9.4
          Colombia                                      23.9

Unit                                              \
Indicator                 Educational attainment
Continent Country
AF        South Africa                 73.333333
AS        Israel                       87.333333
          Japan                              NaN
          Korea                        87.666667
EU        Austria                      85.000000
          Belgium                      77.000000
          Czech Republic               93.666667
          Denmark                      81.000000
          Estonia                      88.666667
          Finland                      88.000000
          France                       78.333333
          Germany                      86.666667
          Greece                       73.000000
          Hungary                      84.000000
          Iceland                      77.000000
          Ireland                      82.000000
          Italy                        61.000000
          Latvia                       87.666667
          Lithuania                    92.666667
          Luxembourg                   76.666667
          Netherlands                  78.333333
          Norway                       82.000000
          Poland                       92.000000
          Portugal                     47.666667
          Russia                       94.000000
          Slovak Republic              91.333333
          Slovenia                     88.000000
          Spain                        59.000000
          Sweden                       83.000000
          Switzerland                  87.666667
          Turkey                       39.000000
          United Kingdom               81.000000
NA        Canada                       91.333333
          Mexico                       37.666667
          United States                90.666667
OC        Australia                    81.000000
          New Zealand                  78.666667
OECD      OECD - Total                 78.333333
SA        Brazil                       49.000000
          Chile                        65.000000
          Colombia                     54.000000

Unit                                                                         \
Indicator                 Employees working very long hours Employment rate
Continent Country
AF        South Africa                            17.840000       43.333333
AS        Israel                                  15.273333       69.000000
          Japan                                         NaN       75.000000
          Korea                                         NaN       66.666667
EU        Austria                                  6.590000       72.000000
          Belgium                                  4.703333       63.333333
          Czech Republic                           5.496667       73.666667
          Denmark                                  2.316667       74.000000
          Estonia                                  2.436667       74.000000
          Finland                                  3.816667       70.333333
          France                                   7.656667       65.333333
          Germany                                  4.196667       75.333333
          Greece                                   6.280000       53.333333
          Hungary                                  2.976667       68.000000
          Iceland                                 14.866667       85.666667
          Ireland                                  5.260000       67.333333
          Italy                                    4.003333       58.000000
          Latvia                                   1.280000       70.000000
          Lithuania                                0.546667       70.333333
          Luxembourg                               3.740000       66.333333
          Netherlands                              0.413333       75.666667
          Norway                                   2.886667       74.000000
          Poland                                   5.823333       66.000000
          Portugal                                 8.340000       68.000000
          Russia                                   0.140000       70.333333
          Slovak Republic                          4.073333       66.000000
          Slovenia                                 4.333333       69.333333
          Spain                                    3.963333       62.333333
          Sweden                                   1.066667       76.666667
          Switzerland                              0.370000       79.666667
          Turkey                                  31.043333       51.666667
          United Kingdom                          12.123333       75.000000
NA        Canada                                   3.673333       73.333333
          Mexico                                  27.280000       61.666667
          United States                           10.990000       70.000000
OC        Australia                               12.840000       73.000000
          New Zealand                             15.036667       77.000000

In [5]:
dataset_multindex.index

MultiIndex([(  'AF',    'South Africa'),
            (  'AS',          'Israel'),
            (  'AS',           'Japan'),
            (  'AS',           'Korea'),
            (  'EU',         'Austria'),
            (  'EU',         'Belgium'),
            (  'EU',  'Czech Republic'),
            (  'EU',         'Denmark'),
            (  'EU',         'Estonia'),
            (  'EU',         'Finland'),
            (  'EU',          'France'),
            (  'EU',         'Germany'),
            (  'EU',          'Greece'),
            (  'EU',         'Hungary'),
            (  'EU',         'Iceland'),
            (  'EU',         'Ireland'),
            (  'EU',           'Italy'),
            (  'EU',          'Latvia'),
            (  'EU',       'Lithuania'),
            (  'EU',      'Luxembourg'),
            (  'EU',     'Netherlands'),
            (  'EU',          'Norway'),
            (  'EU',          'Poland'),
            (  'EU',        'Portugal'),
            (  'EU',          'Russia'),
            (  'EU', 'Slovak Republic'),
            (  'EU',        'Slovenia'),
            (  'EU',           'Spain'),
            (  'EU',          'Sweden'),
            (  'EU',     'Switzerland'),
            (  'EU',          'Turkey'),
            (  'EU',  'United Kingdom'),
            (  'NA',          'Canada'),
            (  'NA',          'Mexico'),
            (  'NA',   'United States'),
            (  'OC',       'Australia'),
            (  'OC',     'New Zealand'),
            ('OECD',    'OECD - Total'),
            (  'SA',          'Brazil'),
            (  'SA',           'Chile'),
            (  'SA',        'Colombia')],
           names=['Continent', 'Country'])

Ojo que las columnas también son Indices!

In [6]:
dataset_multindex.columns.values

array([('Average score', 'Life satisfaction'),
       ('Average score', 'Stakeholder engagement for developing regulations'),
       ('Average score', 'Student skills'),
       ('Hours', 'Time devoted to leisure and personal care'),
       ('Micrograms per cubic metre', 'Air pollution'),
       ('Percentage', 'Dwellings without basic facilities'),
       ('Percentage', 'Educational attainment'),
       ('Percentage', 'Employees working very long hours'),
       ('Percentage', 'Employment rate'),
       ('Percentage', 'Feeling safe walking alone at night'),
       ('Percentage', 'Housing expenditure'),
       ('Percentage', 'Labour market insecurity'),
       ('Percentage', 'Long-term unemployment rate'),
       ('Percentage', 'Quality of support network'),
       ('Percentage', 'Self-reported health'),
       ('Percentage', 'Voter turnout'), ('Percentage', 'Water quality'),
       ('Ratio', 'Homicide rate'), ('Ratio', 'Rooms per person'),
       ('US Dollar', 'Household net adjusted disposable income'),
       ('US Dollar', 'Household net wealth'),
       ('US Dollar', 'Personal earnings'), ('Years', 'Life expectancy'),
       ('Years', 'Years in education')], dtype=object)

Podemos acceder a los indices de cada nivel usando `get_level_values`

In [7]:
dataset_multindex

Unit                          Average score  \
Indicator                 Life satisfaction
Continent Country
AF        South Africa             4.700000
AS        Israel                   7.225000
          Japan                    5.900000
          Korea                    5.866667
EU        Austria                  7.225000
          Belgium                  7.000000
          Czech Republic           6.700000
          Denmark                  7.650000
          Estonia                  5.780000
          Finland                  7.660000
          France                   6.540000
          Germany                  7.100000
          Greece                   5.340000
          Hungary                  5.680000
          Iceland                  7.580000
          Ireland                  7.050000
          Italy                    6.140000
          Latvia                   5.940000
          Lithuania                5.980000
          Luxembourg               6.900000
          Netherlands              7.500000
          Norway                   7.620000
          Poland                   6.100000
          Portugal                 5.480000
          Russia                   5.880000
          Slovak Republic          6.425000
          Slovenia                 5.933333
          Spain                    6.225000
          Sweden                   7.400000
          Switzerland              7.500000
          Turkey                   5.520000
          United Kingdom           6.860000
NA        Canada                   7.425000
          Mexico                   6.466667
          United States            7.000000
OC        Australia                7.350000
          New Zealand              7.300000
OECD      OECD - Total             6.480000
SA        Brazil                   6.400000
          Chile                    6.480000
          Colombia                 6.266667

Unit                                                                         \
Indicator                 Stakeholder engagement for developing regulations
Continent Country
AF        South Africa                                                  NaN
AS        Israel                                                        2.5
          Japan                                                         1.4
          Korea                                                         2.9
EU        Austria                                                       1.3
          Belgium                                                       2.0
          Czech Republic                                                1.6
          Denmark                                                       2.0
          Estonia                                                       2.7
          Finland                                                       2.2
          France                                                        2.1
          Germany                                                       1.8
          Greece                                                        1.8
          Hungary                                                       1.2
          Iceland                                                       2.1
          Ireland                                                       1.3
          Italy                                                         2.5
          Latvia                                                        2.2
          Lithuania                                                     2.4
          Luxembourg                                                    1.7
          Netherlands                                                   2.6
          Norway                                                        2.2
          Poland                                                        2.6
          Portugal                                                      1.5
          Russia                                                        NaN
          Slovak Republic                                               3.0
          Slovenia                                                      2.5
          Spain                                                         1.8
          Sweden                                                        2.0
          Switzerland                                                   2.3
          Turkey                                                        1.5
          United Kingdom                                                3.1
NA        Canada                                                        2.9
          Mexico                                                        3.2
          United States                                                 3.1
OC        Australia                                                     2.7
          New Zealand                                                   2.5
OECD      OECD - Total                                                  2.4
SA        Brazil                                                        2.2
          Chile                                                         1.3
          Colombia                                                      1.4

Unit                                      \
Indicator                 Student skills
Continent Country
AF        South Africa               NaN
AS        Israel                   470.0
          Japan                    528.8
          Korea                    520.0
EU        Austria                  492.8
          Belgium                  503.8
          Czech Republic           492.2
          Denmark                  505.2
          Estonia                  525.8
          Finland                  523.6
          France                   497.4
          Germany                  511.0
          Greece                   460.2
          Hungary                  475.0
          Iceland                  480.8
          Ireland                  509.8
          Italy                    485.0
          Latvia                   487.6
          Lithuania                476.6
          Luxembourg               485.4
          Netherlands              509.6
          Norway                   504.8
          Poland                   505.4
          Portugal                 499.4
          Russia                   491.8
          Slovak Republic          463.4
          Slovenia                 510.4
          Spain                    492.4
          Sweden                   497.0
          Switzerland              507.4
          Turkey                   426.8
          United Kingdom           502.4
NA        Canada                   523.2
          Mexico                   416.0
          United States            489.4
OC        Australia                411.2
          New Zealand              506.2
OECD      OECD - Total             490.4
SA        Brazil                   398.2
          Chile                    443.8
          Colombia                 412.8

Unit                                                          Hours  \
Indicator                 Time devoted to leisure and personal care
Continent Country
AF        South Africa                                    14.770000
AS        Israel                                                NaN
          Japan                                                 NaN
          Korea                                           14.583333
EU        Austria                                         14.530000
          Belgium                                         15.663333
          Czech Republic                                        NaN
          Denmark                                         15.873333
          Estonia                                         14.886667
          Finland                                         15.163333
          France                                          16.336667
          Germany                                         15.613333
          Greece                                                NaN
          Hungary                                               NaN
          Iceland                                               NaN
          Ireland                                               NaN
          Italy                                           16.313333
          Latvia                                          13.826667
          Lithuania                                             NaN
          Luxembourg                                            NaN
          Netherlands                                           NaN
          Norway                                          15.563333
          Poland                                          14.390000
          Portugal                                              NaN
          Russia                                                NaN
          Slovak Republic                                       NaN
          Slovenia                                        14.730000
          Spain                                           15.860000
          Sweden                                          15.176667
          Switzerland                                           NaN
          Turkey                                          14.653333
          United Kingdom                                  14.916667
NA        Canada                                          14.553333
          Mexico                                                NaN
          United States                                   14.440000
OC        Australia                                       14.350000
          New Zealand                                     14.883333
OECD      OECD - Total                                    14.896667
SA        Brazil                                                NaN
          Chile                                                 NaN
          Colombia                                              NaN

Unit                      Micrograms per cubic metre  \
Indicator                              Air pollution
Continent Country
AF        South Africa                          22.0
AS        Israel                                21.0
          Japan                                 14.0
          Korea                                 28.0
EU        Austria                               16.0
          Belgium                               15.0
          Czech Republic                        20.0
          Denmark                                9.0
          Estonia                                8.0
          Finland                                6.0
          France                                13.0
          Germany                               14.0
          Greece                                18.0
          Hungary                               19.0
          Iceland                                3.0
          Ireland                                7.0
          Italy                                 18.0
          Latvia                                11.0
          Lithuania                             14.0
          Luxembourg                            12.0
          Netherlands                           14.0
          Norway                                 5.0
          Poland                                22.0
          Portugal                              10.0
          Russia                                15.0
          Slovak Republic                       21.0
          Slovenia                              16.0
          Spain                                 11.0
          Sweden                                 6.0
          Switzerland                           15.0
          Turkey                                20.0
          United Kingdom                        11.0
NA        Canada                                 7.0
          Mexico                                16.0
          United States                         10.0
OC        Australia                              5.0
          New Zealand                            5.0
OECD      OECD - Total                          14.0
SA        Brazil                                10.0
          Chile                                 16.0
          Colombia                              10.0

Unit                                              Percentage  \
Indicator                 Dwellings without basic facilities
Continent Country
AF        South Africa                                  37.0
AS        Israel                                         NaN
          Japan                                          6.4
          Korea                                          2.5
EU        Austria                                        0.9
          Belgium                                        1.9
          Czech Republic                                 0.7
          Denmark                                        0.5
          Estonia                                        7.0
          Finland                                        0.5
          France                                         0.5
          Germany                                        0.2
          Greece                                         0.5
          Hungary                                        4.7
          Iceland                                        0.0
          Ireland                                        1.0
          Italy                                          0.7
          Latvia                                        13.9
          Lithuania                                     13.6
          Luxembourg                                     0.5
          Netherlands                                    0.1
          Norway                                         0.0
          Poland                                         3.0
          Portugal                                       1.0
          Russia                                        14.8
          Slovak Republic                                1.2
          Slovenia                                       0.4
          Spain                                          0.1
          Sweden                                         0.0
          Switzerland                                    0.1
          Turkey                                         8.0
          United Kingdom                                 0.3
NA        Canada                                         0.2
          Mexico                                        25.5
          United States                                  0.1
OC        Australia                                      NaN
          New Zealand                                    NaN
OECD      OECD - Total                                   4.4
SA        Brazil                                         6.7
          Chile                                          9.4
          Colombia                                      23.9

Unit                                              \
Indicator                 Educational attainment
Continent Country
AF        South Africa                 73.333333
AS        Israel                       87.333333
          Japan                              NaN
          Korea                        87.666667
EU        Austria                      85.000000
          Belgium                      77.000000
          Czech Republic               93.666667
          Denmark                      81.000000
          Estonia                      88.666667
          Finland                      88.000000
          France                       78.333333
          Germany                      86.666667
          Greece                       73.000000
          Hungary                      84.000000
          Iceland                      77.000000
          Ireland                      82.000000
          Italy                        61.000000
          Latvia                       87.666667
          Lithuania                    92.666667
          Luxembourg                   76.666667
          Netherlands                  78.333333
          Norway                       82.000000
          Poland                       92.000000
          Portugal                     47.666667
          Russia                       94.000000
          Slovak Republic              91.333333
          Slovenia                     88.000000
          Spain                        59.000000
          Sweden                       83.000000
          Switzerland                  87.666667
          Turkey                       39.000000
          United Kingdom               81.000000
NA        Canada                       91.333333
          Mexico                       37.666667
          United States                90.666667
OC        Australia                    81.000000
          New Zealand                  78.666667
OECD      OECD - Total                 78.333333
SA        Brazil                       49.000000
          Chile                        65.000000
          Colombia                     54.000000

Unit                                                                         \
Indicator                 Employees working very long hours Employment rate
Continent Country
AF        South Africa                            17.840000       43.333333
AS        Israel                                  15.273333       69.000000
          Japan                                         NaN       75.000000
          Korea                                         NaN       66.666667
EU        Austria                                  6.590000       72.000000
          Belgium                                  4.703333       63.333333
          Czech Republic                           5.496667       73.666667
          Denmark                                  2.316667       74.000000
          Estonia                                  2.436667       74.000000
          Finland                                  3.816667       70.333333
          France                                   7.656667       65.333333
          Germany                                  4.196667       75.333333
          Greece                                   6.280000       53.333333
          Hungary                                  2.976667       68.000000
          Iceland                                 14.866667       85.666667
          Ireland                                  5.260000       67.333333
          Italy                                    4.003333       58.000000
          Latvia                                   1.280000       70.000000
          Lithuania                                0.546667       70.333333
          Luxembourg                               3.740000       66.333333
          Netherlands                              0.413333       75.666667
          Norway                                   2.886667       74.000000
          Poland                                   5.823333       66.000000
          Portugal                                 8.340000       68.000000
          Russia                                   0.140000       70.333333
          Slovak Republic                          4.073333       66.000000
          Slovenia                                 4.333333       69.333333
          Spain                                    3.963333       62.333333
          Sweden                                   1.066667       76.666667
          Switzerland                              0.370000       79.666667
          Turkey                                  31.043333       51.666667
          United Kingdom                          12.123333       75.000000
NA        Canada                                   3.673333       73.333333
          Mexico                                  27.280000       61.666667
          United States                           10.990000       70.000000
OC        Australia                               12.840000       73.000000
          New Zealand                             15.036667       77.000000

In [8]:
dataset_multindex.columns.get_level_values(0)

Index(['Average score', 'Average score', 'Average score', 'Hours',
       'Micrograms per cubic metre', 'Percentage', 'Percentage', 'Percentage',
       'Percentage', 'Percentage', 'Percentage', 'Percentage', 'Percentage',
       'Percentage', 'Percentage', 'Percentage', 'Percentage', 'Ratio',
       'Ratio', 'US Dollar', 'US Dollar', 'US Dollar', 'Years', 'Years'],
      dtype='object', name='Unit')

In [9]:
dataset_multindex.columns.get_level_values(1)

Index(['Life satisfaction',
       'Stakeholder engagement for developing regulations', 'Student skills',
       'Time devoted to leisure and personal care', 'Air pollution',
       'Dwellings without basic facilities', 'Educational attainment',
       'Employees working very long hours', 'Employment rate',
       'Feeling safe walking alone at night', 'Housing expenditure',
       'Labour market insecurity', 'Long-term unemployment rate',
       'Quality of support network', 'Self-reported health', 'Voter turnout',
       'Water quality', 'Homicide rate', 'Rooms per person',
       'Household net adjusted disposable income', 'Household net wealth',
       'Personal earnings', 'Life expectancy', 'Years in education'],
      dtype='object', name='Indicator')

También a cierto nivel de las columnas

In [10]:
dataset_multindex.index.get_level_values(0)

Index(['AF', 'AS', 'AS', 'AS', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU',
       'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU',
       'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'EU', 'NA', 'NA', 'NA', 'OC',
       'OC', 'OECD', 'SA', 'SA', 'SA'],
      dtype='object', name='Continent')

In [11]:
dataset_multindex.index.get_level_values(1)

Index(['South Africa', 'Israel', 'Japan', 'Korea', 'Austria', 'Belgium',
       'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany',
       'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia',
       'Lithuania', 'Luxembourg', 'Netherlands', 'Norway', 'Poland',
       'Portugal', 'Russia', 'Slovak Republic', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'Turkey', 'United Kingdom', 'Canada', 'Mexico',
       'United States', 'Australia', 'New Zealand', 'OECD - Total', 'Brazil',
       'Chile', 'Colombia'],
      dtype='object', name='Country')

### Acceder a Multi-Índices

> **Ejercicio ✏️**: Seleccionar la fila que contiene a Chile

In [12]:
dataset_multindex

Unit                          Average score  \
Indicator                 Life satisfaction
Continent Country
AF        South Africa             4.700000
AS        Israel                   7.225000
          Japan                    5.900000
          Korea                    5.866667
EU        Austria                  7.225000
          Belgium                  7.000000
          Czech Republic           6.700000
          Denmark                  7.650000
          Estonia                  5.780000
          Finland                  7.660000
          France                   6.540000
          Germany                  7.100000
          Greece                   5.340000
          Hungary                  5.680000
          Iceland                  7.580000
          Ireland                  7.050000
          Italy                    6.140000
          Latvia                   5.940000
          Lithuania                5.980000
          Luxembourg               6.900000
          Netherlands              7.500000
          Norway                   7.620000
          Poland                   6.100000
          Portugal                 5.480000
          Russia                   5.880000
          Slovak Republic          6.425000
          Slovenia                 5.933333
          Spain                    6.225000
          Sweden                   7.400000
          Switzerland              7.500000
          Turkey                   5.520000
          United Kingdom           6.860000
NA        Canada                   7.425000
          Mexico                   6.466667
          United States            7.000000
OC        Australia                7.350000
          New Zealand              7.300000
OECD      OECD - Total             6.480000
SA        Brazil                   6.400000
          Chile                    6.480000
          Colombia                 6.266667

Unit                                                                         \
Indicator                 Stakeholder engagement for developing regulations
Continent Country
AF        South Africa                                                  NaN
AS        Israel                                                        2.5
          Japan                                                         1.4
          Korea                                                         2.9
EU        Austria                                                       1.3
          Belgium                                                       2.0
          Czech Republic                                                1.6
          Denmark                                                       2.0
          Estonia                                                       2.7
          Finland                                                       2.2
          France                                                        2.1
          Germany                                                       1.8
          Greece                                                        1.8
          Hungary                                                       1.2
          Iceland                                                       2.1
          Ireland                                                       1.3
          Italy                                                         2.5
          Latvia                                                        2.2
          Lithuania                                                     2.4
          Luxembourg                                                    1.7
          Netherlands                                                   2.6
          Norway                                                        2.2
          Poland                                                        2.6
          Portugal                                                      1.5
          Russia                                                        NaN
          Slovak Republic                                               3.0
          Slovenia                                                      2.5
          Spain                                                         1.8
          Sweden                                                        2.0
          Switzerland                                                   2.3
          Turkey                                                        1.5
          United Kingdom                                                3.1
NA        Canada                                                        2.9
          Mexico                                                        3.2
          United States                                                 3.1
OC        Australia                                                     2.7
          New Zealand                                                   2.5
OECD      OECD - Total                                                  2.4
SA        Brazil                                                        2.2
          Chile                                                         1.3
          Colombia                                                      1.4

Unit                                      \
Indicator                 Student skills
Continent Country
AF        South Africa               NaN
AS        Israel                   470.0
          Japan                    528.8
          Korea                    520.0
EU        Austria                  492.8
          Belgium                  503.8
          Czech Republic           492.2
          Denmark                  505.2
          Estonia                  525.8
          Finland                  523.6
          France                   497.4
          Germany                  511.0
          Greece                   460.2
          Hungary                  475.0
          Iceland                  480.8
          Ireland                  509.8
          Italy                    485.0
          Latvia                   487.6
          Lithuania                476.6
          Luxembourg               485.4
          Netherlands              509.6
          Norway                   504.8
          Poland                   505.4
          Portugal                 499.4
          Russia                   491.8
          Slovak Republic          463.4
          Slovenia                 510.4
          Spain                    492.4
          Sweden                   497.0
          Switzerland              507.4
          Turkey                   426.8
          United Kingdom           502.4
NA        Canada                   523.2
          Mexico                   416.0
          United States            489.4
OC        Australia                411.2
          New Zealand              506.2
OECD      OECD - Total             490.4
SA        Brazil                   398.2
          Chile                    443.8
          Colombia                 412.8

Unit                                                          Hours  \
Indicator                 Time devoted to leisure and personal care
Continent Country
AF        South Africa                                    14.770000
AS        Israel                                                NaN
          Japan                                                 NaN
          Korea                                           14.583333
EU        Austria                                         14.530000
          Belgium                                         15.663333
          Czech Republic                                        NaN
          Denmark                                         15.873333
          Estonia                                         14.886667
          Finland                                         15.163333
          France                                          16.336667
          Germany                                         15.613333
          Greece                                                NaN
          Hungary                                               NaN
          Iceland                                               NaN
          Ireland                                               NaN
          Italy                                           16.313333
          Latvia                                          13.826667
          Lithuania                                             NaN
          Luxembourg                                            NaN
          Netherlands                                           NaN
          Norway                                          15.563333
          Poland                                          14.390000
          Portugal                                              NaN
          Russia                                                NaN
          Slovak Republic                                       NaN
          Slovenia                                        14.730000
          Spain                                           15.860000
          Sweden                                          15.176667
          Switzerland                                           NaN
          Turkey                                          14.653333
          United Kingdom                                  14.916667
NA        Canada                                          14.553333
          Mexico                                                NaN
          United States                                   14.440000
OC        Australia                                       14.350000
          New Zealand                                     14.883333
OECD      OECD - Total                                    14.896667
SA        Brazil                                                NaN
          Chile                                                 NaN
          Colombia                                              NaN

Unit                      Micrograms per cubic metre  \
Indicator                              Air pollution
Continent Country
AF        South Africa                          22.0
AS        Israel                                21.0
          Japan                                 14.0
          Korea                                 28.0
EU        Austria                               16.0
          Belgium                               15.0
          Czech Republic                        20.0
          Denmark                                9.0
          Estonia                                8.0
          Finland                                6.0
          France                                13.0
          Germany                               14.0
          Greece                                18.0
          Hungary                               19.0
          Iceland                                3.0
          Ireland                                7.0
          Italy                                 18.0
          Latvia                                11.0
          Lithuania                             14.0
          Luxembourg                            12.0
          Netherlands                           14.0
          Norway                                 5.0
          Poland                                22.0
          Portugal                              10.0
          Russia                                15.0
          Slovak Republic                       21.0
          Slovenia                              16.0
          Spain                                 11.0
          Sweden                                 6.0
          Switzerland                           15.0
          Turkey                                20.0
          United Kingdom                        11.0
NA        Canada                                 7.0
          Mexico                                16.0
          United States                         10.0
OC        Australia                              5.0
          New Zealand                            5.0
OECD      OECD - Total                          14.0
SA        Brazil                                10.0
          Chile                                 16.0
          Colombia                              10.0

Unit                                              Percentage  \
Indicator                 Dwellings without basic facilities
Continent Country
AF        South Africa                                  37.0
AS        Israel                                         NaN
          Japan                                          6.4
          Korea                                          2.5
EU        Austria                                        0.9
          Belgium                                        1.9
          Czech Republic                                 0.7
          Denmark                                        0.5
          Estonia                                        7.0
          Finland                                        0.5
          France                                         0.5
          Germany                                        0.2
          Greece                                         0.5
          Hungary                                        4.7
          Iceland                                        0.0
          Ireland                                        1.0
          Italy                                          0.7
          Latvia                                        13.9
          Lithuania                                     13.6
          Luxembourg                                     0.5
          Netherlands                                    0.1
          Norway                                         0.0
          Poland                                         3.0
          Portugal                                       1.0
          Russia                                        14.8
          Slovak Republic                                1.2
          Slovenia                                       0.4
          Spain                                          0.1
          Sweden                                         0.0
          Switzerland                                    0.1
          Turkey                                         8.0
          United Kingdom                                 0.3
NA        Canada                                         0.2
          Mexico                                        25.5
          United States                                  0.1
OC        Australia                                      NaN
          New Zealand                                    NaN
OECD      OECD - Total                                   4.4
SA        Brazil                                         6.7
          Chile                                          9.4
          Colombia                                      23.9

Unit                                              \
Indicator                 Educational attainment
Continent Country
AF        South Africa                 73.333333
AS        Israel                       87.333333
          Japan                              NaN
          Korea                        87.666667
EU        Austria                      85.000000
          Belgium                      77.000000
          Czech Republic               93.666667
          Denmark                      81.000000
          Estonia                      88.666667
          Finland                      88.000000
          France                       78.333333
          Germany                      86.666667
          Greece                       73.000000
          Hungary                      84.000000
          Iceland                      77.000000
          Ireland                      82.000000
          Italy                        61.000000
          Latvia                       87.666667
          Lithuania                    92.666667
          Luxembourg                   76.666667
          Netherlands                  78.333333
          Norway                       82.000000
          Poland                       92.000000
          Portugal                     47.666667
          Russia                       94.000000
          Slovak Republic              91.333333
          Slovenia                     88.000000
          Spain                        59.000000
          Sweden                       83.000000
          Switzerland                  87.666667
          Turkey                       39.000000
          United Kingdom               81.000000
NA        Canada                       91.333333
          Mexico                       37.666667
          United States                90.666667
OC        Australia                    81.000000
          New Zealand                  78.666667
OECD      OECD - Total                 78.333333
SA        Brazil                       49.000000
          Chile                        65.000000
          Colombia                     54.000000

Unit                                                                         \
Indicator                 Employees working very long hours Employment rate
Continent Country
AF        South Africa                            17.840000       43.333333
AS        Israel                                  15.273333       69.000000
          Japan                                         NaN       75.000000
          Korea                                         NaN       66.666667
EU        Austria                                  6.590000       72.000000
          Belgium                                  4.703333       63.333333
          Czech Republic                           5.496667       73.666667
          Denmark                                  2.316667       74.000000
          Estonia                                  2.436667       74.000000
          Finland                                  3.816667       70.333333
          France                                   7.656667       65.333333
          Germany                                  4.196667       75.333333
          Greece                                   6.280000       53.333333
          Hungary                                  2.976667       68.000000
          Iceland                                 14.866667       85.666667
          Ireland                                  5.260000       67.333333
          Italy                                    4.003333       58.000000
          Latvia                                   1.280000       70.000000
          Lithuania                                0.546667       70.333333
          Luxembourg                               3.740000       66.333333
          Netherlands                              0.413333       75.666667
          Norway                                   2.886667       74.000000
          Poland                                   5.823333       66.000000
          Portugal                                 8.340000       68.000000
          Russia                                   0.140000       70.333333
          Slovak Republic                          4.073333       66.000000
          Slovenia                                 4.333333       69.333333
          Spain                                    3.963333       62.333333
          Sweden                                   1.066667       76.666667
          Switzerland                              0.370000       79.666667
          Turkey                                  31.043333       51.666667
          United Kingdom                          12.123333       75.000000
NA        Canada                                   3.673333       73.333333
          Mexico                                  27.280000       61.666667
          United States                           10.990000       70.000000
OC        Australia                               12.840000       73.000000
          New Zealand                             15.036667       77.000000

In [13]:
dataset_multindex.loc[[('SA', 'Chile')], :]

Unit                  Average score  \
Indicator         Life satisfaction
Continent Country
SA        Chile                6.48

Unit                                                                 \
Indicator         Stakeholder engagement for developing regulations
Continent Country
SA        Chile                                                 1.3

Unit                                                                 Hours  \
Indicator         Student skills Time devoted to leisure and personal care
Continent Country
SA        Chile            443.8                                       NaN

Unit              Micrograms per cubic metre  \
Indicator                      Air pollution
Continent Country
SA        Chile                         16.0

Unit                                      Percentage                         \
Indicator         Dwellings without basic facilities Educational attainment
Continent Country
SA        Chile                                  9.4                   65.0

Unit                                                                 \
Indicator         Employees working very long hours Employment rate
Continent Country
SA        Chile                            9.316667       62.666667

Unit                                                                       \
Indicator         Feeling safe walking alone at night Housing expenditure
Continent Country
SA        Chile                                  48.0                18.0

Unit                                                                    \
Indicator         Labour market insecurity Long-term unemployment rate
Continent Country
SA        Chile                      8.168                         NaN

Unit                                                               \
Indicator         Quality of support network Self-reported health
Continent Country
SA        Chile                         84.6                 57.0

Unit                                                  Ratio                   \
Indicator         Voter turnout Water quality Homicide rate Rooms per person
Continent Country
SA        Chile            47.0          71.0           4.2              1.2

Unit                                             US Dollar  \
Indicator         Household net adjusted disposable income
Continent Country
SA        Chile                                        NaN

Unit                                                               Years  \
Indicator         Household net wealth Personal earnings Life expectancy
Continent Country
SA        Chile               100967.0           25879.0            79.9

Unit
Indicator         Years in education
Continent Country
SA        Chile                 17.5

> **Ejercicio ✏️**: Seleccionar las columnas de los indicadores basados en Porcentajes.

In [14]:
dataset_multindex.loc[:, ['Percentage']]

Unit                                              Percentage  \
Indicator                 Dwellings without basic facilities
Continent Country
AF        South Africa                                  37.0
AS        Israel                                         NaN
          Japan                                          6.4
          Korea                                          2.5
EU        Austria                                        0.9
          Belgium                                        1.9
          Czech Republic                                 0.7
          Denmark                                        0.5
          Estonia                                        7.0
          Finland                                        0.5
          France                                         0.5
          Germany                                        0.2
          Greece                                         0.5
          Hungary                                        4.7
          Iceland                                        0.0
          Ireland                                        1.0
          Italy                                          0.7
          Latvia                                        13.9
          Lithuania                                     13.6
          Luxembourg                                     0.5
          Netherlands                                    0.1
          Norway                                         0.0
          Poland                                         3.0
          Portugal                                       1.0
          Russia                                        14.8
          Slovak Republic                                1.2
          Slovenia                                       0.4
          Spain                                          0.1
          Sweden                                         0.0
          Switzerland                                    0.1
          Turkey                                         8.0
          United Kingdom                                 0.3
NA        Canada                                         0.2
          Mexico                                        25.5
          United States                                  0.1
OC        Australia                                      NaN
          New Zealand                                    NaN
OECD      OECD - Total                                   4.4
SA        Brazil                                         6.7
          Chile                                          9.4
          Colombia                                      23.9

Unit                                              \
Indicator                 Educational attainment
Continent Country
AF        South Africa                 73.333333
AS        Israel                       87.333333
          Japan                              NaN
          Korea                        87.666667
EU        Austria                      85.000000
          Belgium                      77.000000
          Czech Republic               93.666667
          Denmark                      81.000000
          Estonia                      88.666667
          Finland                      88.000000
          France                       78.333333
          Germany                      86.666667
          Greece                       73.000000
          Hungary                      84.000000
          Iceland                      77.000000
          Ireland                      82.000000
          Italy                        61.000000
          Latvia                       87.666667
          Lithuania                    92.666667
          Luxembourg                   76.666667
          Netherlands                  78.333333
          Norway                       82.000000
          Poland                       92.000000
          Portugal                     47.666667
          Russia                       94.000000
          Slovak Republic              91.333333
          Slovenia                     88.000000
          Spain                        59.000000
          Sweden                       83.000000
          Switzerland                  87.666667
          Turkey                       39.000000
          United Kingdom               81.000000
NA        Canada                       91.333333
          Mexico                       37.666667
          United States                90.666667
OC        Australia                    81.000000
          New Zealand                  78.666667
OECD      OECD - Total                 78.333333
SA        Brazil                       49.000000
          Chile                        65.000000
          Colombia                     54.000000

Unit                                                                         \
Indicator                 Employees working very long hours Employment rate
Continent Country
AF        South Africa                            17.840000       43.333333
AS        Israel                                  15.273333       69.000000
          Japan                                         NaN       75.000000
          Korea                                         NaN       66.666667
EU        Austria                                  6.590000       72.000000
          Belgium                                  4.703333       63.333333
          Czech Republic                           5.496667       73.666667
          Denmark                                  2.316667       74.000000
          Estonia                                  2.436667       74.000000
          Finland                                  3.816667       70.333333
          France                                   7.656667       65.333333
          Germany                                  4.196667       75.333333
          Greece                                   6.280000       53.333333
          Hungary                                  2.976667       68.000000
          Iceland                                 14.866667       85.666667
          Ireland                                  5.260000       67.333333
          Italy                                    4.003333       58.000000
          Latvia                                   1.280000       70.000000
          Lithuania                                0.546667       70.333333
          Luxembourg                               3.740000       66.333333
          Netherlands                              0.413333       75.666667
          Norway                                   2.886667       74.000000
          Poland                                   5.823333       66.000000
          Portugal                                 8.340000       68.000000
          Russia                                   0.140000       70.333333
          Slovak Republic                          4.073333       66.000000
          Slovenia                                 4.333333       69.333333
          Spain                                    3.963333       62.333333
          Sweden                                   1.066667       76.666667
          Switzerland                              0.370000       79.666667
          Turkey                                  31.043333       51.666667
          United Kingdom                          12.123333       75.000000
NA        Canada                                   3.673333       73.333333
          Mexico                                  27.280000       61.666667
          United States                           10.990000       70.000000
OC        Australia                               12.840000       73.000000
          New Zealand                             15.036667       77.000000
OECD      OECD - Total                            10.786667       68.000000
SA        Brazil                                   7.006667       61.000000
          Chile                                    9.316667       62.666667
          Colombia                                26.006667       67.000000

Unit                                                           \
Indicator                 Feeling safe walking alone at night
Continent Country
AF        South Africa                              36.333333
AS        Israel                                    69.966667
          Japan                                     72.800000
          Korea                                     66.666667
EU        Austria                                   80.700000
          Belgium                                   70.266667
          Czech Republic                            72.533333
          Denmark                                   83.566667
          Estonia                                   69.633333
          Finland                                   85.266667
          France                                    70.700000
          Germany                                   72.600000
          Greece                                    60.200000
          Hungary                                   56.700000
          Iceland                                   86.300000
          Ireland                                   76.000000
          Italy                                     58.600000
          Latvia                                    63.066667
          Lithuania                                 56.233333
          Luxembourg                                75.866667
          Netherlands                               82.066667
          Norway                                    90.033333
          Poland                                    67.466667
          Portugal                                  73.766667
          Russia                                    53.466667
          Slovak Republic                           63.700000
          Slovenia                                  86.166667
          Spain                                     82.166667
          Sweden                                    75.566667
          Switzerland                               85.333333
          Turkey                                    59.833333
          United Kingdom                            77.766667
NA        Canada                                    82.500000
          Mexico                                    41.966667
          United States                             73.900000
OC        Australia                                 64.133333
          New Zealand                               66.266667
OECD      OECD - Total                              68.500000
SA        Brazil                                    35.866667
          Chile                                     48.000000
          Colombia                                  44.566667

Unit                                                                    \
Indicator                 Housing expenditure Labour market insecurity
Continent Country
AF        South Africa                   18.0                      NaN
AS        Israel                          NaN                    4.200
          Japan                          22.0                    2.220
          Korea                          15.0                    2.302
EU        Austria                        21.0                    4.076
          Belgium                        21.0                    4.052
          Czech Republic                 24.0                    7.208
          Denmark                        23.0                    4.606
          Estonia                        17.0                    4.392
          Finland                        23.0                    4.508
          France                         21.0                    8.380
          Germany                        20.0                    4.928
          Greece                         23.0                   29.200
          Hungary                        19.0                    5.256
          Iceland                        24.0                    0.662
          Ireland                        20.0                    8.784
          Italy                          23.0                   12.132
          Latvia                         23.0                   11.316
          Lithuania                      19.0                      NaN
          Luxembourg                     21.0                    1.722
          Netherlands                    19.0                    4.930
          Norway                         17.0                      NaN
          Poland                         22.0                    6.984
          Portugal                       21.0                    9.624
          Russia                         18.0                      NaN
          Slovak Republic                23.0                   21.376
          Slovenia                       18.0                    6.338
          Spain                          21.0                   23.792
          Sweden                         19.0                    4.232
          Switzerland                    22.0                      NaN
          Turkey                         20.0                   12.060
          United Kingdom                 26.0                    4.744
NA        Canada                         22.0                    7.048
          Mexico                         20.0                    5.396
          United States                  19.0                    9.072
OC        Australia                      20.0                    5.922
          New Zealand                    26.0                    4.700
OECD      OECD - Total                   20.0                    7.750
SA        Brazil                          NaN                      NaN
          Chile                          18.0                    8.168
          Colombia                       17.0                      NaN

Unit                                                   \
Indicator                 Long-term unemployment rate
Continent Country
AF        South Africa                      16.643333
AS        Israel                             0.486667
          Japan                              0.996667
          Korea                              0.050000
EU        Austria                            1.830000
          Belgium                            3.533333
          Czech Republic                     1.056667
          Denmark                            1.313333
          Estonia                            1.916667
          Finland                            2.123333
          France                             3.996667
          Germany                            1.556667
          Greece                            15.896667
          Hungary                            1.726667
          Iceland                            0.256667
          Ireland                            3.203333
          Italy                              6.640000
          Latvia                             3.353333
          Lithuania                          2.696667
          Luxembourg                         2.343333
          Netherlands                        1.976667
          Norway                             0.656667
          Poland                             1.513333
          Portugal                           4.430000
          Russia                             1.586667
          Slovak Republic                    4.773333
          Slovenia                           3.176667
          Spain                              7.710000
          Sweden                             1.113333
          Switzerland                        1.826667
          Turkey                             2.660000
          United Kingdom                     1.126667
NA        Canada                             0.763333
          Mexico                             0.066667
          United States                      0.656667
OC        Australia                          1.306667
          New Zealand                        0.736667
OECD      OECD - Total                       1.783333
SA        Brazil                                  NaN
          Chile                                   NaN
          Colombia                           0.820000

Unit                                                                       \
Indicator                 Quality of support network Self-reported health
Continent Country
AF        South Africa                     88.000000                  NaN
AS        Israel                           88.500000            86.750000
          Japan                            88.750000            34.800000
          Korea                            78.333333            33.000000
EU        Austria                          92.000000            70.600000
          Belgium                          92.000000            73.600000
          Czech Republic                   91.750000            60.800000
          Denmark                          95.500000            72.600000
          Estonia                          91.200000            54.400000
          Finland                          94.800000            70.200000
          France                           89.000000            66.400000
          Germany                          90.500000            65.400000
          Greece                           78.800000            76.000000
          Hungary                          85.500000            61.000000
          Iceland                          98.000000            76.000000
          Ireland                          95.000000            82.800000
          Italy                            91.800000            71.800000
          Latvia                           86.200000            48.000000
          Lithuania                        88.400000            45.600000
          Luxembourg                       93.000000            69.400000
          Netherlands                      91.000000            75.800000
          Norway                           94.000000            77.200000
          Poland                           86.000000            60.000000
          Portugal                         88.000000            48.200000
          Russia                           90.000000            43.333333
          Slovak Republic                  91.500000            68.600000
          Slovenia                         91.666667            64.400000
          Spain                            92.750000            74.000000
          Sweden                           91.500000            75.000000
          Switzerland                      93.333333            77.400000
          Turkey                           86.000000            70.400000
          United Kingdom                   94.000000            70.000000
NA        Canada                           93.250000            87.800000
          Mexico                           81.600000            65.666667
          United States                    91.750000            86.800000
OC        Australia                        95.250000            87.250000
          New Zealand                      96.250000            89.250000
OECD      OECD - Total                     88.400000            69.200000
SA        Brazil                           89.250000                  NaN
          Chile                            84.600000            57.000000
          Colombia                         89.000000                  NaN

Unit
Indicator                 Voter turnout Water quality
Continent Country
AF        South Africa             73.0     67.000000
AS        Israel                   72.0     67.000000
          Japan                    53.0     87.000000
          Korea                    77.0     76.000000
EU        Austria                  80.0     92.000000
          Belgium                  89.0     83.666667
          Czech Republic           61.0     86.666667
          Denmark                  86.0     95.000000
          Estonia                  64.0     84.000000
          Finland                  67.0     95.000000

> **Ejercicio ✏️**: Seleccionar la columna que contiene a Life expectancy

In [15]:
dataset_multindex.columns.values

array([('Average score', 'Life satisfaction'),
       ('Average score', 'Stakeholder engagement for developing regulations'),
       ('Average score', 'Student skills'),
       ('Hours', 'Time devoted to leisure and personal care'),
       ('Micrograms per cubic metre', 'Air pollution'),
       ('Percentage', 'Dwellings without basic facilities'),
       ('Percentage', 'Educational attainment'),
       ('Percentage', 'Employees working very long hours'),
       ('Percentage', 'Employment rate'),
       ('Percentage', 'Feeling safe walking alone at night'),
       ('Percentage', 'Housing expenditure'),
       ('Percentage', 'Labour market insecurity'),
       ('Percentage', 'Long-term unemployment rate'),
       ('Percentage', 'Quality of support network'),
       ('Percentage', 'Self-reported health'),
       ('Percentage', 'Voter turnout'), ('Percentage', 'Water quality'),
       ('Ratio', 'Homicide rate'), ('Ratio', 'Rooms per person'),
       ('US Dollar', 'Household net adjusted disposable income'),
       ('US Dollar', 'Household net wealth'),
       ('US Dollar', 'Personal earnings'), ('Years', 'Life expectancy'),
       ('Years', 'Years in education')], dtype=object)

In [16]:
dataset_multindex.loc[:, [('Years', 'Life expectancy')]]

Unit                                Years
Indicator                 Life expectancy
Continent Country
AF        South Africa          57.500000
AS        Israel                82.466667
          Japan                 84.066667
          Korea                 82.366667
EU        Austria               81.700000
          Belgium               81.500000
          Czech Republic        79.100000
          Denmark               80.900000
          Estonia               77.766667
          Finland               81.500000
          France                82.366667
          Germany               81.066667
          Greece                81.466667
          Hungary               76.166667
          Iceland               82.266667
          Ireland               81.766667
          Italy                 83.300000
          Latvia                74.700000
          Lithuania             74.800000
          Luxembourg            82.766667
          Netherlands           81.600000
          Norway                82.466667
          Poland                77.966667
          Portugal              81.200000
          Russia                71.800000
          Slovak Republic       77.266667
          Slovenia              81.266667
          Spain                 83.400000
          Sweden                82.366667
          Switzerland           83.666667
          Turkey                78.000000
          United Kingdom        81.200000
NA        Canada                81.866667
          Mexico                75.400000
          United States         78.600000
OC        Australia             82.500000
          New Zealand           81.700000
OECD      OECD - Total          80.200000
SA        Brazil                74.766667
          Chile                 79.900000
          Colombia              76.233333

> **Ejercicio ✏️**: Seleccionar la fila que contiene a Chile y la columna que contiene a Life expectancy

In [17]:
dataset_multindex.loc[[("SA", "Chile")], [("Years", "Life expectancy")]]

Unit                        Years
Indicator         Life expectancy
Continent Country
SA        Chile              79.9

> **Pregunta ❓**: ¿Cómo puedo solicitar `Housing expenditure` como `Employment rate` al mismo tiempo?

In [18]:
dataset_multindex.head()

Unit                       Average score  \
Indicator              Life satisfaction
Continent Country
AF        South Africa          4.700000
AS        Israel                7.225000
          Japan                 5.900000
          Korea                 5.866667
EU        Austria               7.225000

Unit                                                                      \
Indicator              Stakeholder engagement for developing regulations
Continent Country
AF        South Africa                                               NaN
AS        Israel                                                     2.5
          Japan                                                      1.4
          Korea                                                      2.9
EU        Austria                                                    1.3

Unit                                   \
Indicator              Student skills
Continent Country
AF        South Africa            NaN
AS        Israel                470.0
          Japan                 528.8
          Korea                 520.0
EU        Austria               492.8

Unit                                                       Hours  \
Indicator              Time devoted to leisure and personal care
Continent Country
AF        South Africa                                 14.770000
AS        Israel                                             NaN
          Japan                                              NaN
          Korea                                        14.583333
EU        Austria                                      14.530000

Unit                   Micrograms per cubic metre  \
Indicator                           Air pollution
Continent Country
AF        South Africa                       22.0
AS        Israel                             21.0
          Japan                              14.0
          Korea                              28.0
EU        Austria                            16.0

Unit                                           Percentage  \
Indicator              Dwellings without basic facilities
Continent Country
AF        South Africa                               37.0
AS        Israel                                      NaN
          Japan                                       6.4
          Korea                                       2.5
EU        Austria                                     0.9

Unit                                           \
Indicator              Educational attainment
Continent Country
AF        South Africa              73.333333
AS        Israel                    87.333333
          Japan                           NaN
          Korea                     87.666667
EU        Austria                   85.000000

Unit                                                                      \
Indicator              Employees working very long hours Employment rate
Continent Country
AF        South Africa                         17.840000       43.333333
AS        Israel                               15.273333       69.000000
          Japan                                      NaN       75.000000
          Korea                                      NaN       66.666667
EU        Austria                               6.590000       72.000000

Unit                                                        \
Indicator              Feeling safe walking alone at night
Continent Country
AF        South Africa                           36.333333
AS        Israel                                 69.966667
          Japan                                  72.800000
          Korea                                  66.666667
EU        Austria                                80.700000

Unit                                                                 \
Indicator              Housing expenditure Labour market insecurity
Continent Country
AF        South Africa                18.0                      NaN
AS        Israel                       NaN                    4.200
          Japan                       22.0                    2.220
          Korea                       15.0                    2.302
EU        Austria                     21.0                    4.076

Unit                                                                           \
Indicator              Long-term unemployment rate Quality of support network
Continent Country
AF        South Africa                   16.643333                  88.000000
AS        Israel                          0.486667                  88.500000
          Japan                           0.996667                  88.750000
          Korea                           0.050000                  78.333333
EU        Austria                         1.830000                  92.000000

Unit                                                                     \
Indicator              Self-reported health Voter turnout Water quality
Continent Country
AF        South Africa                  NaN          73.0          67.0
AS        Israel                      86.75          72.0          67.0
          Japan                       34.80          53.0          87.0
          Korea                       33.00          77.0          76.0
EU        Austria                     70.60          80.0          92.0

Unit                           Ratio                   \
Indicator              Homicide rate Rooms per person
Continent Country
AF        South Africa     14.000000              NaN
AS        Israel            1.833333              1.2
          Japan             0.200000              1.9
          Korea             1.000000              1.5
EU        Austria           0.466667              1.6

Unit                                                  US Dollar  \
Indicator              Household net adjusted disposable income
Continent Country
AF        South Africa                                      NaN
AS        Israel                                            NaN
          Japan                                         29798.0
          Korea                                         21882.0
EU        Austria                                       33541.0

Unit                                                                    Years  \
Indicator              Household net wealth Personal earnings Life expectancy
Continent Country
AF        South Africa                  NaN               NaN       57.500000
AS        Israel                        NaN           35067.0       82.466667
          Japan                    305878.0           40863.0       84.066667
          Korea                    285980.0           35191.0       82.366667
EU        Austria                  308325.0           50349.0       81.700000

Unit
Indicator              Years in education
Continent Country
AF        South Africa                NaN
AS        Israel                15.633333
          Japan                 16.366667
          Korea                 17.266667
EU        Austria               17.000000

In [19]:
dataset_multindex.loc[
    :, [
        ("Percentage", "Housing expenditure"), 
        ("Percentage", "Employment rate")
    ]
]

Unit                               Percentage
Indicator                 Housing expenditure Employment rate
Continent Country
AF        South Africa                   18.0       43.333333
AS        Israel                          NaN       69.000000
          Japan                          22.0       75.000000
          Korea                          15.0       66.666667
EU        Austria                        21.0       72.000000
          Belgium                        21.0       63.333333
          Czech Republic                 24.0       73.666667
          Denmark                        23.0       74.000000
          Estonia                        17.0       74.000000
          Finland                        23.0       70.333333
          France                         21.0       65.333333
          Germany                        20.0       75.333333
          Greece                         23.0       53.333333
          Hungary                        19.0       68.000000
          Iceland                        24.0       85.666667
          Ireland                        20.0       67.333333
          Italy                          23.0       58.000000
          Latvia                         23.0       70.000000
          Lithuania                      19.0       70.333333
          Luxembourg                     21.0       66.333333
          Netherlands                    19.0       75.666667
          Norway                         17.0       74.000000
          Poland                         22.0       66.000000
          Portugal                       21.0       68.000000
          Russia                         18.0       70.333333
          Slovak Republic                23.0       66.000000
          Slovenia                       18.0       69.333333
          Spain                          21.0       62.333333
          Sweden                         19.0       76.666667
          Switzerland                    22.0       79.666667
          Turkey                         20.0       51.666667
          United Kingdom                 26.0       75.000000
NA        Canada                         22.0       73.333333
          Mexico                         20.0       61.666667
          United States                  19.0       70.000000
OC        Australia                      20.0       73.000000
          New Zealand                    26.0       77.000000
OECD      OECD - Total                   20.0       68.000000
SA        Brazil                          NaN       61.000000
          Chile                          18.0       62.666667
          Colombia                       17.0       67.000000

In [20]:
dataset_multindex.loc[
    :, [
        ("Percentage", ["Housing expenditure", "Employment rate"]), 
    ]
]

TypeError: unhashable type: 'list'

> **Pregunta ❓:** ¿Podrá abreviarse?

In [ ]:
dataset_multindex.loc[:, [("Percentage", ["Housing expenditure", "Employment rate"])]]

Este caso puede convertirse en un problema cuando sacamos muchas columnas, ya que tendremos que escribir muchas tuplas.

#### Opción: `IndexSlice`

`IndexSlice` soluciona el problema anteriormente mencionado al permitir seleccionar más de un índice/columna por nivel:

In [ ]:
idx = pd.IndexSlice
idx

In [ ]:
idx = pd.IndexSlice

dataset_multindex.loc[
    :, idx["Percentage", [
        "Employees working very long hours", 
        "Housing expenditure"]]
]

Lo siguiente extiende el ejemplo anterior para seleccionar los paises de Norte y Sudamerica.

In [ ]:
dataset_multindex.loc[
    idx[["NA", "SA"]],
    idx["Percentage", ["Employees working very long hours", "Housing expenditure"]],
]

Incluso, puede pedir más de un índice/columna por cada nivel:

In [ ]:
dataset_multindex.loc[
    :,
    idx[
        ["Hours", "Percentage"],
        [
            "Time devoted to leisure and personal care",
            "Employees working very long hours",
            "Housing expenditure",
        ],
    ],
]

Que sería lo mismo que indexar usando `:` (es decir, seleccionar todo ese multi-índice)

In [ ]:
dataset_multindex.loc[
    idx[: ,['Chile', 'Israel']],
    idx[
        :,
        [
            "Time devoted to leisure and personal care",
            "Employees working very long hours",
            "Housing expenditure",
        ],
    ],
]

### `droplevel`

El método `droplevel` nos permite eliminar un nivel de un multi-índice, tanto para filas como para columnas.
Recibe como parámetros el nivel (partiendo por 0 desde afuera hacia adentro) y el eje (axis):

In [ ]:
dataset_multindex.head()

In [ ]:
dataset_multindex.droplevel(0, axis=0).head()

In [ ]:
dataset_multindex.droplevel(1, axis=0)

In [ ]:
dataset_multindex.droplevel(0, axis=1).head()

Noten que estos métodos generan DataFrames nuevos. Por ende, al ejecutarse deben reemplazar los `DataFrames` originales.

---

##  Fundir / Melt

El proceso inverso al pivoteado:

![Melt](../../recursos/2023-02/pandas-4/melt.png)

En este caso retornaremos a algo similar al formato original del dataset:

In [ ]:
bli_df = pd.read_excel("../../recursos/2023-02/pandas-2/dataset.xlsx", header=1, index_col=0)
bli_df.head()
bli_df = bli_df.reset_index()

In [ ]:
bli_df.melt(id_vars=["Country"])

Usando su argumento `value_vars` podemos seleccionar solo alguna de las columnas que deseamos operar con `melt`.
De todas formas, este comportamiento también puede ser logrado usando un simple indexador `.loc`

In [ ]:
bli_df.melt(id_vars=["Country"], value_vars=["Air pollution", "Water quality"])

In [ ]:
# setear opciones para mostrar todas las filas y columnas
# cuidado al ejecutar esto en sus notebooks, se puede quedar pegado el navegador!
pd.set_option("display.max_colwidth", None)
pd.set_option("display.max_colwidth", None)

## Strings

### Motivación

<div align='center'>
<img src='https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/11-Pandas4/pets.jpg' alt='Mascotas' width=600/>
</div>

Supongamos que poseemos un dataset generado a partir de [_web scrapping_](https://es.wikipedia.org/wiki/Web_scraping) que contiene el nombre de una mascota más el resumen (_abstract_) de la página asociada a estos en Wikipedia.

In [ ]:
mascotas = [
    [
        "Perro",
        "  El perro (Canis familiaris o Canis lupus familiaris, dependiendo de si "
        "se lo considera una especie por derecho propio o una subespecie del "
        "lobo),1​2​3​ llamado perro doméstico o can,4​ y en algunos lugares"
        " coloquialmente llamado chucho,5​ tuso,6​ choco,7​ entre otros; es un "
        "mamífero carnívoro de la familia de los cánidos, que constituye "
        "una especie del género Canis.8​9​. Posee un oído y un olfato muy "
        "desarrollados, y este último es su principal órgano sensorial.  \n"
        ],
    [
        "Gato",
        "  El gato doméstico1​2​ (Felis silvestris catus), llamado popularmente "
        "gato, y de forma coloquial minino,3​ michino,4​ michi,5​ micho,"
        "6​ mizo,7​ miz,8​ morroño9​ o morrongo,10​ entre otros nombres, es "
        "un mamífero carnívoro de la familia Felidae. Es una subespecie "
        "domesticada por la convivencia con el ser humano.  \n"
    ],
    [
        "Canario",
        "  El canario doméstico (Serinus canaria domestica)3​4​ es una "
        "subespecie desarrollada durante siglos de selección en cautividad "
        "partiendo de ejemplares del canario silvestre o canario salvaje "
        "(Serinus canaria), una especie de ave del orden paseriforme de "
        "la familia de los fringílidos, endémica de las islas Canarias, "
        "Azores y Madeira.5​6​   \n"
    ],
]

df_mascotas = pd.DataFrame(mascotas, columns=["nombre", "resumen"])
df_mascotas

Notemos qué sucede al acceder al resumen del Perro.

In [ ]:
resumen_perro = df_mascotas.loc[0, "resumen"]
resumen_perro

> **Pregunta ❓**: ¿Qué representa el símbolo `\n`?

> **Pregunta ❓:** ¿Podemos utilizar directamente el texto tal cuál está, por ejemplo, para hacer un buscador? ¿Qué podemos hacer al respecto?

En muchas ocasiones, los conjuntos de datos que se utilizan en análisis de datos incluyen una columna que contiene texto. Sin embargo, este texto no siempre está listo para ser utilizado directamente, ya que puede presentarse de manera desordenada y con errores. Por esta razón, es de suma importancia aprender a preprocesar el texto antes de utilizarlo en análisis posteriores.


Las `Series` de pandas implementan diversos métodos de procesamiento de string que permiten operar facilmente con estos. Por lo general, estos métodos son una réplica de los métodos originales de la clase built-in `string`, los cuales veremos a continuación:

### Métodos de la Clase String

Python cuenta con una variedad de métodos built-in para procesar strings. Algunos de los métodos más comunes son:

In [ ]:
resumen_perro

#### `len`

Devuelve la longitud de una cadena de caracteres

In [ ]:
len(resumen_perro)

#### `.lower`

Convierte todos los caracteres de un string a minúsculas.

In [ ]:
resumen_perro.lower()

#### `.upper()`

Convierte todos los caracteres de un string a mayúsculas.

In [ ]:
resumen_perro.upper()

#### `.title()`

title(): Convierte la primera letra de cada palabra de una cadena en mayúscula.

In [ ]:
resumen_perro.title()

#### `.capitalize()`

capitalize(): Convierte la primera letra de una cadena en mayúscula.

In [ ]:
resumen_perro.capitalize()

#### `.strip()`

Elimina los espacios en blanco al principio y al final de una cadena.

In [ ]:
resumen_perro

In [ ]:
resumen_perro.strip()

In [ ]:
# method chaining <-
resumen_perro.strip().lower()

#### `.split()`

Divide una cadena en una lista de substrings, utilizando un string (habitualmente `" "`) como separador.

In [ ]:
resumen_perro

In [ ]:
resumen_perro.split(" ")

In [ ]:
resumen_perro

> **Pregunta: ❓**: ¿Cómo podría separar oraciones?

In [ ]:
oraciones_divididas = resumen_perro.split(".")
oraciones_divididas

In [ ]:
for oracion in oraciones_divididas:
    if len(oracion) > 10:
        print(oracion.strip().capitalize(), '\n')

#### `join("")`

Une una lista de strings en un único string según algún separador (comunmente un espacio `" "`, punto `"."` o salto e linea `"\n"`).

In [ ]:
"-".join(oraciones_divididas)

#### `str1 in str2`

Devuelve True si un substring está presente en un string.

In [ ]:
resumen_perro

In [ ]:
"perro" in resumen_perro

In [ ]:
"gato" in resumen_perro

#### `.replace()`

Reemplaza un substring con otro en una string.

In [ ]:
# por ejemplo, eliminar la palabra perro.

resumen_perro.replace("perro", "can")

In [ ]:
# notar que es sensible a mayúsculas.
resumen_perro.replace("Perro", "")

In [ ]:
resumen_perro.replace("perro", "gato")

In [ ]:
resumen_perro.replace("\u200b", "")

### Strings en pandas

La mayoría de los métodos de procesamiento de strings que se vieron anteriormente pueden ser ejecutados a través del atributo `.str` en las series de Pandas.

La idea detrás del uso de los métodos de .str es que el preprocesamiento se haga de manera ordenada y eficiente. Al utilizar estos métodos, los usuarios pueden aplicar una variedad de transformaciones a sus datos de texto en una sola línea de código, lo que facilita el procesamiento de grandes conjuntos de datos de texto.

In [ ]:
df_mascotas

In [ ]:
df_mascotas.loc[:, "resumen"]

#### Len, Lower, Upper, Title y Capitalize

In [ ]:
df_mascotas.loc[:, "resumen"].str

In [ ]:
df_mascotas.loc[:, "resumen"].str.len()

In [ ]:
df_mascotas.loc[:, "resumen"].str.lower()

In [ ]:
df_mascotas.loc[:, "resumen"].str.upper()

In [ ]:
df_mascotas.loc[:, "resumen"].str.title()

In [ ]:
df_mascotas.loc[:, "resumen"].str.capitalize()

#### Contains, Split y Join


> **Nota: 🗒️**: `.contains` reemplaza al operador `.in`

In [ ]:
df_mascotas.loc[:, "resumen"].str.contains("perro")

In [ ]:
df_mascotas.loc[:, "resumen"].str.contains("gato")

In [ ]:
df_mascotas.loc[:, "resumen"].str.split(" ")

In [ ]:
df_mascotas.loc[:, "resumen"].str.split(" ").str.join("|")

#### Replace

In [ ]:
df_mascotas.loc[:, "resumen"].values

In [ ]:
s1 = (
    df_mascotas.loc[:, "resumen"]
    .str.replace("(", "", regex=False)
    .str.replace(")", "", regex=False)
    .str.replace("1", "", regex=False)
    .str.replace("2", "", regex=False)
)

s1

> **Pregunta ❓:** ¿Qué indica el parámetro `regex`?

#### Expresiones Regulares

Las expresiones regulares son una herramienta de búsqueda y manipulación de texto que permiten encontrar patrones específicos en una cadena de caracteres.

Una expresión regular es una secuencia de caracteres que define un patrón de búsqueda. Los patrones pueden incluir caracteres específicos, combinaciones de caracteres, grupos de caracteres y operadores especiales que permiten hacer coincidir patrones complejos en el texto.

Aunque pueden parecer complicadas al principio, las expresiones regulares son una herramienta muy poderosa ya que pueden ser aplicadas en una amplia variedad de tareas de procesamiento de texto.


- Tutorial de regex: https://www.programiz.com/python-programming/regex
- Playground para probar regex online: https://regex101.com/

##### Sintaxis y reglas básicas

1. Usa caracteres literales para representar las letras y números que deseas buscar. Por ejemplo, la expresión regular `abc` buscará la cadena de texto `"abc"`.
2. Utiliza caracteres especiales para representar patrones de búsqueda más complejos. Por ejemplo, el carácter especial `"."` representa cualquier carácter, y el carácter especial `"^"` representa el inicio de una línea.
3. Utiliza corchetes para definir un conjunto de caracteres que deseas buscar. Por ejemplo, [abc] buscará cualquiera de los caracteres `"a"`, `"b"` o `"c"`.
4. Utiliza caracteres especiales como `*` o `+` para representar repeticiones de caracteres o patrones. Por ejemplo, `a*` buscará cero o más repeticiones de la letra `"a"` como `""`, `"a"`, `"aa"`, etc...; `a+` en cambio aceptará `"a"`, `"aa"`, etc...
5. Utiliza paréntesis para agrupar patrones y aplicar operadores a grupos de caracteres. Por ejemplo, `(abc)+` buscará una o más repeticiones de la cadena `"abc"`.
6. Utiliza el carácter especial `\` para escapar caracteres especiales (o sea, para tratar a *, +, [, ], etc... como texto) y tratarlos como caracteres literales. Por ejemplo, `\.com` buscará el texto `".com"`.
7. Utiliza el símbolo `^` para indicar que lo que se busca está al inicio de la línea, y el símbolo `$` para indica que lo que se busca el final de la línea. 
8. Uitiliza `\s+` para encontrar todos los espacios, `[0-9]` para buscar los dígitos (`[0-9]+` para uno o más de un dígito) y `[a-zA-Z]` para encontrar letras (`[a-zA-Z]+` para uno o más de una letra).

In [ ]:
df_mascotas.loc[:, "resumen"]

In [ ]:
(
    df_mascotas.loc[:, "resumen"]
    .str.strip()
    .str.replace("[\n\u200b0-9,;()\.]", "", regex=True)
    .str.lower()
    .str.split(" ")
).values

In [ ]:
# sintaxis regex

# en este caso se eliminan todas las comas
df_mascotas.loc[:, "resumen"].str.replace(",", "", regex=True).values

In [ ]:
# en este caso se eliminan todas las comas y los punto y coma.
# agregamos más de un caracter por eliminar usando []
df_mascotas.loc[:, "resumen"].str.replace("[,;]", "", regex=True).values

In [ ]:
# en este caso se eliminan todas las comas y los punto y coma y los puntos
# notar que el punto hay que escribirlo con un slash inverso \: \.
df_mascotas.loc[:, "resumen"].str.replace("[,;\.]", "", regex=True).values

In [ ]:
# mismo caso para los paréntesis ( y ) y corchetes [, ]: hay que agregar \.
df_mascotas.loc[:, "resumen"].str.replace("[,;\.\(\)\[\]\d]", "", regex=True).values

In [ ]:
# \d indica que se eliminarán todos todos los dígitos

df_mascotas.loc[:, "resumen"].str.replace("\d", "", regex=True)

In [ ]:
# todo junto:
df_mascotas.loc[:, "resumen"].str.replace("[,;\.\(\)\[\]\d]", "", regex=True).values

> **Pregunta ❓**: ¿Según las reglas que vimos anteriormente, habría una forma más rápida de limpiar un string?

In [ ]:
df_mascotas.loc[:, "resumen"].str.replace("[^A-Za-z]+", " ", regex=True).values

In [ ]:
df_mascotas.loc[:, "resumen"].str.replace("\b[^\W]+\b", " ", regex=True).values

 > Nota: 

- `\W` para buscar todas las palabras que no contienen caracteres que no sean letras ni números, incluyendo letras con acento. 
- `\b` se utiliza para indicar que la expresión regular debe buscar palabras completas, es decir, que no se debe incluir ninguna letra o número antes o después de la palabra.

### Paréntesis: Método `apply`

El método apply de Pandas se utiliza para aplicar una función a una columna o fila de un DataFrame. La función que se va a aplicar puede ser una función integrada de Python, una función definida por el usuario o una función lambda.

In [ ]:
df_mascotas.loc[:, "resumen"]

In [ ]:
def is_gato_in(value):
    if "gato" in value:
        return True
    else:
        return False

df_mascotas.loc[:, "resumen"].apply(is_gato_in)

In [ ]:
def seleccionar_10_caracteres(value):
    return value[0:10]

df_mascotas.loc[:, "resumen"].apply(seleccionar_10_caracteres)

In [ ]:
def limpiar(value):
    return value.replace(",", "").replace(";", "").lower()

df_mascotas.loc[:, "resumen"].apply(limpiar)

#### `strip_accents_ascii`

`strip_accents_ascii` se utiliza para eliminar los acentos y diacríticos de una cadena, convirtiendo los caracteres Unicode que representan los acentos y diacríticos en caracteres ASCII equivalentes.

In [ ]:
import unicodedata

def strip_accents_ascii(value):
    nkfd_form = unicodedata.normalize("NFKD", value)
    return nkfd_form.encode("ASCII", "ignore").decode("ASCII")

In [ ]:
strip_accents_ascii('doméstico')

In [ ]:
df_mascotas.loc[:, "resumen"]

In [ ]:
df_mascotas.loc[:, "resumen"].apply(strip_accents_ascii)

#### Uso de `.apply` sobre DataFrames

`apply` usada sobre un Dataframe permite ejecutar una función sobre las filas o columnas, lo que se indica a través del parámetro `axis`.

In [ ]:
def unir_nombre_y_descripcion(row):
    return row["nombre"] + " - " + row["resumen"]
    
# ojo: para aplicar en filas tiene que ser axis=1
df_mascotas.apply(unir_nombre_y_descripcion, axis=1)

In [ ]:
def unir_filas(col):
    return '|'.join(col)
    
# ojo: para aplicar en filas tiene que ser axis=1
df_mascotas.apply(unir_filas, axis=0)

#### Preprocesamiento Completo

In [ ]:
df_mascotas.loc[:, "resumen"].values

In [ ]:
df_mascotas_procesado = (
    df_mascotas.loc[:, "resumen"]
    .apply(strip_accents_ascii)
    .str.replace(r"[,;\.\(\)\[\]\d*]", "", regex=True)
    .str.replace(r"\s+", " ", regex=True) # en este caso se reemplazan todos los espacios por solo un espacio.
    .str.strip()
    .str.lower()
)

df_mascotas_procesado.values

---

## Fechas

### Dataset de Temperaturas Globales

![wbg_climate](https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/11-Pandas4/wbg_climate.png)


https://climateknowledgeportal.worldbank.org/download-data

In [ ]:
df_temp = pd.read_csv("./temperature.csv")
df_temp.head(5)

### Motivación

Las fechas y horarios son por lo general parte íntegra de los datos en muchas aplicaciones. Algunos ejemplos de uso de fechas y horarios en aplicaciones son el análisis de datos de ventas a lo largo del tiempo, el seguimiento de la evolución del clima, el análisis de la actividad del usuario en una plataforma digital, entre otros.

> **Pregunta ❓**: ¿Qué aplicación particular podríamos darle al manejar los datetimes del clima?

### Módulo `Datetime`

El módulo datetime en Python es una librería estándar (built-in) que proporciona clases y métodos para trabajar con fechas y horas los cuales simplifican la manipulación y cálculos ellos.

In [ ]:
import datetime

#### Date

Objeto que almacena día, mes y año.

In [ ]:
date_object = datetime.date.today()
print(date_object)

In [ ]:
date_object.day

In [ ]:
date_object.month

In [ ]:
date_object.year

#### Datetime

Almacena segundos, minutos, hora, día, mes y año. También puede contener timezone.

In [ ]:
datetime_object = datetime.datetime.now()
print(datetime_object)

#### Instanciar nuevos Date y Datetimes

In [ ]:
d = datetime.date(2021, 9, 9)
print(d)

In [ ]:
print("Año:", d.year)
print("Mes:", d.month)
print("Día:", d.day)

In [ ]:
d = datetime.datetime(
    year=2021, 
    month=4, 
    day=19, 
    hour=10, 
    minute=59, 
    second=55
)
print(d)

In [ ]:
print("Hora:", d.hour)
print("Minuto:", d.minute)
print("Segundo:", d.second)
print("Microsegundo:", d.microsecond)

Obviamente, estos objetos cuentan con las restricciones pertinentes

In [ ]:
datetime.datetime(-1, 4, 19, 10, 59, 55)

In [ ]:
datetime.datetime(9999, 4, 19, 10, 59, 55)

Relacionado: https://es.wikipedia.org/wiki/Problema_del_a%C3%B1o_2000


El problema del año 2000, fue un bug o error de software causado por la costumbre que habían adoptado los programadores de omitir la centuria en el año para el almacenamiento de fechas (generalmente para economizar memoria), asumiendo que el software solo funcionaría durante los años cuyos números comenzaran con 19XX


![Antes](https://www.sopitas.com/wp-content/uploads/2016/04/ss.gif)

In [ ]:
datetime.datetime(999999, 4, 19, 10, 59, 55)

In [ ]:
datetime.datetime(2020, 4, 19, 10, 60, 55)

¿Y los años bisiestos?

In [ ]:
datetime.datetime(2020, 2, 29)

In [ ]:
datetime.datetime(2021, 2, 29)

##### Desde timestamp

`A Unix timestamp is the number of seconds between a particular date and January 1, 1970 at UTC.`

In [ ]:
timestamp = datetime.date.fromtimestamp(1326244364)
print("Date =", timestamp)

> **Pregunta ❓**: ¿Podemos sumar o restar fechas?

In [ ]:
delta = datetime.datetime(1, 1, 1)
delta

In [ ]:
d

In [ ]:
datetime.datetime.now()

In [ ]:
datetime.datetime.now() + delta

#### TimeDelta

Permide sumar semanas, días, horas, etc... a objetos `date` y `datetime`.

In [ ]:
d = datetime.datetime.now()
d

In [ ]:
from datetime import timedelta

t1 = timedelta(weeks=2)
t1

In [ ]:
d + t1

In [ ]:
d - t1

¿Y tiempos negativos?

In [ ]:
t2 = timedelta(days=-1)

In [ ]:
d

In [ ]:
d + t2

In [ ]:
d - t2

¿Cambios de mes?

In [ ]:
t3 = timedelta(days=1)

In [ ]:
datetime.date(2021, 2, 28) + t3

In [ ]:
# notar que también funciona para años bisiestos
datetime.date(2020, 2, 28) + t3

#### Formatear a string con `.strftime`

Permite convertir un objeto datetime a una cadena de caracteres que siga un patrón específico para representar la fecha y la hora.

In [ ]:
d

In [ ]:
s1 = d.strftime("%A %d/%m/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
s1

In [ ]:
s1 = d.strftime("%m/%d/%Y, %H:%M:%S")
# dd/mm/YY H:M:S format
s1

In [ ]:
s1 = d.strftime("%d/%m/%Y")
# dd/mm/YY H:M:S format
s1

In [ ]:
s2 = d.strftime("%A %d %B %Y, %X")
# dd/mm/YY H:M:S format
s2

Referencia completa de formateo de fechas:

https://www.programiz.com/python-programming/datetime/strftime

---


###  Datos temporales en Pandas

Pandas implementa su propio sistema de datetimes.
`pd.to_datetimes` nos permite convertir una `Serie` o un `DataFrame` en una `Serie` de datetimes.

In [ ]:
df_temp.head(3)

In [ ]:
dates = df_temp.loc[:, ["Year", "Month"]]
dates

In [ ]:
dates.loc[:, "Day"] = 1
dates

In [ ]:
dates = dates.astype(str)
concat_dates = (
    dates.loc[:, 'Year']
    + ' '
    +  dates.loc[:, 'Month'] 
    + ' '
    + dates.loc[:, 'Day']
)

concat_dates

In [ ]:
parsed_dates = pd.to_datetime(concat_dates)
parsed_dates

In [ ]:
# aquí le dimos el formato con el cuál queríamos leer la fecha.

parsed_dates_2 = pd.to_datetime(concat_dates, format="%Y %b %d")

In [ ]:
pd.to_datetime(concat_dates, format="%Y %b %d") > "2016 01 01"

In [ ]:
df_temp.loc[:, 'dates'] = parsed_dates

In [ ]:
df_temp.info()

#### Valores Inválidos

Puede ocurrir que tengamos algún dato inválido que no podamos transformar a `datetime`.

`pd.to_datetime` ofrece el siguiente parámetro para manejar estos problemas:

`errors{‘ignore’, ‘raise’, ‘coerce’}, default ‘raise’`

- If `raise`, then invalid parsing will raise an exception.

- If `coerce`, then invalid parsing will be set as NaT.

- If `ignore`, then invalid parsing will return the input.


**Nota:** NaT = Not a Time

In [ ]:
pd.to_datetime(["2009/07/31", "asd"], errors="coerce")

#### Comparaciones y consultas

Se puede especificar directamente filtros booleanos usando datetimes como también strings:

In [ ]:
df_temp.loc[:, "dates"]

In [ ]:
df_temp.loc[:, "dates"] > datetime.datetime(2010, 1, 1)

In [ ]:
(df_temp.loc[:, "dates"] > "2010-1-1") & (...)

#### Indexado

Podemos fijar las fechas como índices y luego indexar por rangos de estas

In [ ]:
temperaturas_por_fecha = df_temp.set_index("dates")
temperaturas_por_fecha

In [ ]:
# Rango 1995-1-1 al 199-12-1
temperaturas_por_fecha.loc["1995-1-1":"1999-12-1"]

In [ ]:
temperaturas_por_fecha.loc["1999-11-1":"1999-12-1"]

#### Timedeltas

`pd.Timedelta` permite utilizar una interfaz similar a los `datetime.timedelta` para ejecutar cálculos sobre las fechas:

`weeks, days, hours, minutes, seconds, milliseconds, microseconds, nanoseconds`

In [ ]:
ptd1 = pd.Timedelta(weeks=2)
ptd1

In [ ]:
df_temp.loc[:, "dates"] + ptd1

Y podemos también hacer Broadcasting con `datetime.timedeltas`

In [ ]:
df_temp.loc[:, "dates"] + datetime.timedelta(days=-1)

---

##  Categorías

Una variable categórica es un tipo de dato que puede tomar un número limitado (y usualmente fijo) de posibles valores.
Ejemplos de esto: Género, clase social, tipo de sangre, etc...

En general, guardar los datos como categóricos es mucho más eficiente que guardarlos como string. Según la referencia de pandas:

> The memory usage of a Categorical is proportional to the number of categories plus the length of the data. In contrast, an object dtype is a constant times the length of the data.

Como ejemplo, usaremos los continentes a los que pertenece cada país:

In [ ]:
countries = pd.read_csv(
    "https://raw.githubusercontent.com/MDS7202/MDS7202/main/recursos/2023-01/11-Pandas4/country-and-continent.csv"
)
countries = countries.loc[:, ["Continent_Name", "Country_Name"]]
countries

Declaramos una variable como categórica transformando la serie a `category` con `.astype("category")`:

In [ ]:
countries["Continent_Name"]

In [ ]:
countries["Continent_Name"] = countries.loc[:, "Continent_Name"].astype("category")
countries["Continent_Name"]

Podemos acceder a las categorías con:

In [ ]:
countries["Continent_Name"].cat.categories

### Operaciones con categorías

Podemos renombrar categorías usando el método `rename_categories`:

In [ ]:
# renombrar en español
countries["Continent_Name"] = countries["Continent_Name"].cat.rename_categories(
    [
        "Africa",
        "Antarctica",
        "Asia",
        "Europa",
        "América del Norte",
        "Oceania",
        "América del Sur",
    ]
)

countries["Continent_Name"]

In [ ]:
countries.sample(10)

`rename_categories` también acepta diccionarios como entrada. La idea es que el diccionario vincule los nombres antiguos con los nuevos:

In [ ]:
countries["Continent_Name"] = countries["Continent_Name"].cat.rename_categories(
    {
        "Europe": "Europa",
    }
)

In [ ]:
countries

Se pueden agregar categorías

In [ ]:
countries["Continent_Name"].cat.add_categories(["Atlantida"])

Como también eliminar las no usadas:

In [ ]:
# Remover las no usadas
countries["Continent_Name"].cat.remove_unused_categories()

O incluso, eliminar una categoría completa. Noten que esto transforma valores de esa categoría a `NaN`.

In [ ]:
# Como también remover una categoría completa.
countries["Continent_Name"].cat.remove_categories(["Europa"])

### Nota sobre memoria

Como habíamos dicho, es mucho más eficiente guardar variables categóricas que strings.
Podemos ver esto en el siguiente ejemplo:

#### Usando Strings

In [ ]:
# cuidado con este experimento, ocupa mucha memoria!
df_pesado = pd.DataFrame(
    ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"] * 10000000, columns=["var"]
)
df_pesado

In [ ]:
# strings no tienen .cat
df_pesado["var"].cat

In [ ]:
# observen la cantidad de memoria.
df_pesado.info()

#### Usando Categorías

In [ ]:
df_pesado = pd.DataFrame(
    ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J"] * 10000000, columns=["var"]
)
df_pesado["var"] = df_pesado["var"].astype("category")
df_pesado

In [ ]:
df_pesado["var"].cat

In [ ]:
df_pesado.info()

### Un pequeño merge con los datos anteriores

Notar que en esta versión se especificó sobre que variables hacer el merge en ambos datasets.

In [ ]:
temp_agg = df_temp.groupby("Country").agg({"Temperature": ["mean", "std"]})
temp_agg

In [ ]:
countries

In [ ]:
temp_agg.columns = temp_agg.columns.droplevel()
temp_agg = temp_agg.reset_index()
temp_agg.columns = ["Country", "Mean temperature", "Std temperature"]
temp_agg

merged_df = pd.merge(
    temp_agg,
    countries,
    how="left",
    left_on="Country",
    right_on="Country_Name",
)

merged_df

---

## Ordinales

Una variable ordinal es un tipo de variable categórica que representa una característica o atributo que se puede ordenar o clasificar en diferentes niveles o categorías que tienen un orden predefinido.


Por ejemplo, hagamos una clasificación muy simple del clima a partir de la temperatura media. Para esto, calculemos cuartiles:

> Nota: Los elementos meteorológicos a tomar en cuenta para definir un clima son la temperatura, la presión, el viento, la humedad y la precipitación. Referencias: https://es.wikipedia.org/wiki/Clima

In [ ]:
mean_temp = merged_df["Mean temperature"]
mean_temp

In [ ]:
mean_temp.describe()

In [ ]:
clima_ordinal = pd.qcut(
    mean_temp, 5, labels=["Polar", "Frio", "Templado", "Calido", "Muy Calido"]
)
clima_ordinal

#### Operaciones sobre Series Categóricas con Orden

In [ ]:
clima_ordinal.value_counts()

In [ ]:
clima_ordinal.min()

In [ ]:
clima_ordinal.max()

In [ ]:
clima_ordinal.mode()

####  Ordenar y Filtrar usando Ordinales

In [ ]:
merged_df["Temp Quartile"] = clima_ordinal
merged_df.head(3)

In [ ]:
merged_df.info()

In [ ]:
merged_df = merged_df.sort_values(["Temp Quartile", "Mean temperature"])
merged_df

#### Nota sobre Merge con id repetidos

> Pregunta: ¿Qué sucede si hacemos un merge de una fila con muchas otras con igual identificador?

In [ ]:
merged_df["Temp Quartile"].cat.categories

In [ ]:
mask = merged_df["Temp Quartile"] < "Frio"
mask

In [ ]:
merged_df[mask]

## Anexo: Cómo Combinar dos Filtros/Máscaras Booleanas

Se puede usar las operaciones `|` (or) y `&` and para combinar dos máscaras.

- `|` simboliza un ó lógico.
- `&` simboliza un y lógico.

In [ ]:
mask_2 = (merged_df["Temp Quartile"] < "Frio") | (
    merged_df["Temp Quartile"] == "Templado"
)
mask_2

In [ ]:
merged_df[mask_2]